@media screen and (min-width: 800px) {
  .bigScreenText {
    display: flex;
  }
}

@media screen and (min-width: 470px) {
  .tab-bar .tab-bar__tab {
    animation: 1s popop infinite ease-in-out;
  }
  @keyframes popop {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotateY(180deg) scale(0.4);
    }
    100% {
      transform: rotateY(360deg);
      color: pink;
    }
  }
}

@media screen and (min-width: 470px) {
  .top-header i,
  .top-header span {
    animation: 5s bang infinite ease-in-out;
  }
  @keyframes bang {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(1turn) scale(0.4);
    }
    100% {
      transform: rotateY(0);
      color: red;
    }
  }
}
